* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(184, 207, 227);
}

header {
  background-color: rgb(80, 80, 205);
  /* #095279 */
}

/* aside styling */
aside {
  /* width: 350px; */
  text-align: center;
}

#form-heading {
  color: rgb(35, 53, 53);
}

.form-input {
  width: 100%;
  border: solid 3px grey;
  padding: 4px;
}

.input-group {
  flex-direction: column;
}
.btn {
  background-color: rgb(80, 80, 205);
  color: azure;
  border-radius: 3px;
  width: 100%;
  margin: 10px 0px 10px 0px;
}

hr {
  border-bottom: grey solid;
}
#clear-button {
  background-color: red !important;
  color: azure;
  border-radius: 3px;
  width: 100%;
  margin: 10px 0px 10px 0px;
}
.list-recipe {
  font-size: 18px;
}

.row.mt-3 {
  background-color: rgb(80, 80, 205);
  color: azure;
  border-radius: 5px;
}

.dropdown-item {
  border-bottom: 1px solid white;
}

.card-title {
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}
.card-img-top {
  height: 100% !important;
}
